<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-8 col-d-12">
        <div class="hero__inner align-self-center">
          <h1 class="home__title">{{ site.data.settings.hero.hero__title }}</h1>
          <!-- <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p> -->
        </div>
      </div>
    </div>
    <div class="nav-cta flex">
      <div class="form-group">
        <input type="email" class="form-control" required="" placeholder="Write your mail">
      </div>
      <a href="">
        <button class="button button--primary">Get started</button>
      </a>
      <!-- <div class="check">
        <input id="accept3" type="checkbox" required="">
        <label for="accept3" class="support-text">I accept the privacy policy and the terms of service</label>
      </div> -->
    </div>
    <div id="clients" class="section">
      <!-- Container -->
      <div class="container">
          <!-- Row -->
          <div class="row">
              <div class="centered-logos">
                  <div class="col-2 work">
                      <img class="img-responsive" src="img/clients/google.png" alt="Google for Startups">
                  </div>
                  <div class="col-2 work">
                      <img class="img-responsive" src="../img/clients/startupweekend.png" alt="Startup Weekend">
                  </div>
                  <div class="col-2 work">
                      <img class="img-responsive" src="../img/clients/correoslabs.png" alt="Correos Labs">
                  </div>
                  <div class="col-2 work">
                      <img class="img-responsive" src="../img/clients/gazaskygeeks.png" alt="Gaza Sky Geeks">
                  </div>
                  <div class="col-2 work">
                      <img class="img-responsive" src="../img/clients/tetuanvalley.png" alt="Tetuan Valley">
                  </div>
                  <div class="col-2 work">
                      <img class="img-responsive" src="../img/clients/seedrocket.png" alt="SeedRocket">
                  </div>
                  <!-- <div class="col-md-3 col-xs-4 col-sm-2 work">
          <img class="img-responsive" src="img/clients/osw.png" alt="Open Source Weekends">
        </div>
        <div class="col-md-3 col-xs-4 col-sm-2 work">
          <img class="img-responsive" src="img/clients/collisions.png" alt="Collisions">
        </div> -->
              </div>
              <!-- <div class="text-center">
                <h5>More than 789 people connected in 2019</h5>
              </div> -->
              <!-- /content -->
          </div>
          <!-- /Row -->
      </div>
      <!-- /Container -->
    </div>
  </div>
</section>
<!-- end hero -->