html, body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#login {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	max-width: 450px;
	padding: 32px; 
	margin: 32px;
}

.login-logo {
	margin: 0 0 32px 0;
	width: 150px;
}

#login h2 {
	font-size: 2em;
}

.login-text {
	margin-bottom: 32px;
}

label {
	font-weight: normal;
}

#login select,
#login input[type="text"],
#login input[type="password"],
#login input[type="email"] {
	border: 1px solid rgba(0,0,0,.1);
	margin: 4px 0;
}

#login #remember {
	margin: 16px 2px;
}

#login button {
	background-color: #009BA2;
	border-color: transparent;
}
	#login button:hover {
		background-color: rgba(0, 155, 162, .8)
	}

.forgot-password {
	display: inline-block;
	font-size: .9em;
	margin: 8px 0;
  width: 100%;
  text-align: center;
  padding: 8px;
}

.btn-register {
	margin: 16px 0;
}